---
---

<div class="row align-items-center" style="margin-bottom: 1.5rem;">
    <div class="col-sm-3">
      {% if entry.preview %}
        <img src="{{ entry.preview | prepend: '/assets/img/papers/' | relative_url }}" class="rounded" alt="{{entry.title}}" style="width: 100%; height: 130px; object-fit: contain;">
      {% endif %}
    </div>
    <div id="{{entry.key}}" class="col-sm-9">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="bib-title" style="font-weight: 700;">
        <strong>{{entry.title}}</strong>
      </div>
      <div class="bib-authors">
        {% for author in entry.author_array %}
          {%- assign name = author.first | append: " " | append: author.last -%}
          {%- assign is_me = false -%}
          {%- if author.last == site.scholar.last_name -%}{%- assign is_me = true -%}{%- endif -%}
          {%- capture rendered -%}
            {%- if is_me -%}<u>{{name}}</u>{%- elsif site.data.coauthors[author.last] -%}<a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{name}}</a>{%- else -%}{{name}}{%- endif -%}
          {%- endcapture -%}
          {%- if forloop.length == 1 -%}
            {{ rendered }}
          {%- elsif forloop.length == 2 -%}
            {%- if forloop.first -%}{{ rendered }} and {%- else -%}{{ rendered }}{%- endif -%}
          {%- else -%}
            {%- if forloop.last -%}and {{ rendered }}{%- else -%}{{ rendered }},{{ " " }}{%- endif -%}
          {%- endif -%}
        {% endfor %}
      </div>
      <div class="bib-venue"><em>
      {% if entry.type == "article" %}
        {{entry.journal}}{% if entry.year %} {{entry.year}}{% endif %}{% if entry.address %} -- {{entry.address}}{% endif %}
      {% elsif entry.type == "inproceedings" %}
        {{entry.booktitle}}{% if entry.year %} {{entry.year}}{% endif %}{% if entry.address %} -- {{entry.address}}{% endif %}
      {% endif %}
      </em></div>
    {% endif %}

    <div class="links">
    {% if entry.publication %}
      <a href="{{ entry.publication }}" title="Publication" class="btn btn-light" role="button" target="_blank"><ion-icon name="book-outline" class="button-icon"></ion-icon> <span class="button-text">Publication</span></a>
    {% endif %}
    {% if entry.preprint %}
      <a href="{{ entry.preprint }}" title="Preprint" class="btn btn-light" role="button" target="_blank"><ion-icon name="document-outline" class="button-icon"></ion-icon> <span class="button-text">Preprint</span></a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" title="Code" class="btn btn-light" role="button" target="_blank"><ion-icon name="code-slash-outline" class="button-icon"></ion-icon> <span class="button-text">Code</span></a>
    {% endif %}
    {% if entry.poster %}
      {% if entry.poster contains '://' %}
        <a href="{{ entry.poster }}" title="Poster" class="btn btn-light" role="button" target="_blank"><ion-icon name="easel-outline" class="button-icon"></ion-icon> <span class="button-text">Poster</span></a>
      {% else %}
        <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" title="Poster" class="btn btn-light" role="button" target="_blank"><ion-icon name="easel-outline" class="button-icon"></ion-icon> <span class="button-text">Poster</span></a>
      {% endif %}
    {% endif %}
    {% if entry.slides %}
      {% if entry.slides contains '://' %}
        <a href="{{ entry.slides }}" title="Slides" class="btn btn-light" role="button" target="_blank"><ion-icon name="albums-outline" class="button-icon"></ion-icon> <span class="button-text">Slides</span></a>
      {% else %}
        <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" title="Slides" class="btn btn-light" role="button" target="_blank"><ion-icon name="albums-outline" class="button-icon"></ion-icon> <span class="button-text">Slides</span></a>
      {% endif %}
    {% endif %}
    {% if entry.video %}
      <a href="{{ entry.video }}" title="Video" class="btn btn-light" role="button" target="_blank"><ion-icon name="videocam-outline" class="button-icon"></ion-icon> <span class="button-text">Video</span></a>
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>